.main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  /* padding: 1em; */
  /* border: 1px solid blue; */
}